@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgb(9, 79, 51);
  background: linear-gradient(to bottom, #5c715e, #5d6946, #a7b188);
}

body {
  margin: 0;
  display: flex;
  overflow-y: hidden;
}
.content {
  padding-left: 100px;
}

.text-transparent-outline {
  color: transparent;
  -webkit-text-stroke: 0.4px white;
}
